*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(185, 75%, 39%);
    overflow: hidden;
    position: relative;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card{
    background-color: white;
    width: 500px;
    padding: 24px;
    border-radius: 24px;
    box-shadow: 0 0 25px rgba(0, 0, 10, 0.1);
    text-align: center;
    position: relative;
    z-index: 2;
    margin: 0 1em;
}

.main-image img{
    width: calc(100% + 48px);
    margin: -24px -24px;
    border-radius: 24px 24px 0 0;
}

.profile-pic img{
    border-radius: 100%;
    border: 6px solid white;
    width: 30%;
    margin-top: -10%;
    margin-bottom: 16px;
}

h2{
    display: inline-flex;
    margin-left: 16px;
}

.age{
    color: gray;
}

.place{
    margin: 16px 0 32px 0;
    font-weight: 700;
    color: gray;
}

.border{
    height: 2px;
    width: calc(100% + 48px);
    margin: 32px -24px;
    background-color: rgb(224, 224, 224);
}

.info{
    display: flex;
    justify-content: space-evenly;
}

h1{
    font-size: 1.5rem;
}

.info p{
    margin-top: 6px;
    letter-spacing: 1.5px;
}

.bg-image-top img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: -75%;
    margin-left: -50%;
}
.bg-image-bottom img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    margin-bottom: -75%;
    margin-right: -50%;
}